html {
    position: relative;
}

body {
    background-image: linear-gradient(to right, #2C75FF, #061389);
}

.wrapper {
    height: 100vh;
}

.custom-shape-divider-bottom-1677091539 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1677091539 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 315px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1677091539 .shape-fill {
    fill: #5181db;
}

.primary-title {
    text-align: center;
    font-size: 32px;
}

.button-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button-list__item {
    display: block;
    text-decoration: none;
    background-color: #2C75FF;
    color: #061389;
    border: 1px solid black;
    padding: 10px 15px;
    transition: background-color 250ms linear, color 250ms linear;

}

.button-list__item:hover,
.button-list__item:focus {
    background-color: #061389;
    color: #2C75FF;
}