html {
    position: relative;
}

body {
    margin: 0;
}

.primary-title {
    text-align: center;
    font-size: 32px;
}

.button-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button-list__item {
    display: block;
    text-decoration: none;
    background-color: #2C75FF;
    color: #061389;
    border: 1px solid black;
    padding: 10px 15px;
    transition: background-color 250ms linear, color 250ms linear;

}

.button-list__item:hover,
.button-list__item:focus {
    background-color: #061389;
    color: #2C75FF;
}